@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

*,::after,::before {
  box-sizing: border-box;
}
body,div,article,section,h1,h2,h3 {
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
}
.frontleft_container {
  width : 30%;
}
.frontright_container {
  width : 30%;

  animation: backInUp; 
  animation-duration: 2s;
}
.frontcenter_container {
  align-self: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leftpara {
  margin-top: 51%;
  font-family: 'Vujahday Script', cursive;
  font-size: 1.4rem;
  padding-left: 5%;
  font-weight: 900;

  animation: lightSpeedInLeft; 
  animation-duration: 10s;
}
.frontpara { 
  font-family: 'Vujahday Script', cursive;
  font-size: 1.8rem;
  color: brown;
}
.enterbtn {
  padding: .7rem 4rem;
  background-color: rgba(0,0,0,.6);
  color: rgb(253, 250, 250);
  font-size: 2rem;
  font-family: cursive;
  font-weight: 900;
  border : none;
  margin-top: 1%;
  animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s;
}


#main_container {
  display: flex;
  justify-content: center;
  height : 100vh;
  background-image: url("./imgs/3.jpg");
  background-size: cover;
}
#main_container_change {
  display: flex;
  justify-content: center;
  height : 100vh;
}

.subcontainer {
  width : 100%;
  margin-top: 3%;
}

.enterbtn:hover,
.enterbtn:focus { 
  background-color: rgb(107, 41, 17);
}

.searchinput {
  background-color: inherit;
  color: black;
  border : none;
  border-bottom: 1px solid #666;
  outline: none;
  width: 30%;
  margin-left: 35%;
  padding: .5rem;
  font-size: 1rem;
}
.loadingimg { margin-left: 40%; }

.section_title { 
  text-transform: uppercase;
  color: #165505;
  font-size: 2rem;
  border-bottom: 1px solid darkgray;
  margin: 4% 2% 2% 2%;
}
.cards {
  width : 20%;
  display: inline-grid;
  display: -ms-inline-grid;
  display: -moz-inline-grid;
}
.cards:hover,
.cardsimg:hover { opacity: .7; }

.cardsrank { 
  color : #fff49e;
}
.cardsimg { 
  width : 95%;
  margin: 0 auto;
}
.ratetitle_container {
  display: flex;
  justify-content: space-between;
}
.cardstitle { 
  font-size: .9rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}
.cardsrating { 
  width: 28%;
  margin-right: 2%;
  text-align: end;
}

.cards-alltime {
  width : 23%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-grid;
  display: -ms-inline-grid;
  display: -moz-inline-grid;
}

/*--------------Top image -----------------------*/
#topimage_div {
  height: 80%;
  position : relative;
}
#topimage_article { 
  width: 100%; 
  height: 100vh;
  margin-top: 3%;
}
	#firstsection {
		background-image: url("https://image.tmdb.org/t/p/w500/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg");
		background-color: gray;
		height: 70vh;
		padding: 0;
		width: 79%;
		margin:0 auto;
    opacity: .75;
	}
	#secondsection {
		position: absolute;
		top: 0;
		left: 10%;
		background-image: url("https://image.tmdb.org/t/p/w500/v7TaX8kXMXs5yFFGR41guUDNcnB.jpg");
		background-color: rgb(95, 58, 58);
		clip-path: polygon(60% 0, 100% 0,100% 100%,35% 100%);
		height: 70vh;
		margin: 0 auto;
		padding: 0;
		width: 80%;
	}

  .subtitle { 
    text-align: center;
    font-weight: bold;
  }
  .nextbtn {
    float: right;
    margin-right: 10%;
    margin-top: 3%;
    border: none;
    background-color: inherit;
    font-size: 3rem;
}
  